.navbar{
    width: 100vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #dedede;
}
.rs-tech{
    width: 21.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-right: 2px solid #dedede;
}
.rs-tech h1{
    margin-left: 40px;
    color: #0085ff;
    font-size: 29px;
}
.nav-items{
    width: 78.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-items ul{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    gap: 12px;
}

.nav-items ul li{
    background-color: #dedede;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* for responsive design */
@media (max-width: 575px) {
.rs-tech{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rs-tech h1{
    font-size: 14px;
    margin-left: 0px;
}
.nav-items ul li{
   background-color: #dedede;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

}
@media (min-width: 576px) and (max-width: 767px) {
    .rs-tech{
    display: flex;
    align-items: center;
    justify-content:center;
}
    .rs-tech h1{
        font-size: 20px;
        margin-left: 0;
    }
    .nav-items ul li{
        border-radius: 50%;
        width: 30px;
        height: 30px;
         display: flex;
    align-items: center;
    justify-content: center;
    }  
}
@media (min-width: 768px) and (max-width: 1199px) {
    .rs-tech{
    display: flex;
    align-items: center;
    justify-content: center;
}
    .rs-tech h1{
        font-size: 28px;
        margin-left: 0px;
    }
    .nav-items ul li{
        border-radius: 50%;
        width: 30px;
        height: 30px;
         display: flex;
    align-items: center;
    justify-content: center;
    }  
}

